.back-button{
    display: flex;
}

.back-button a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #00BCB4;

}

.back-button p{
    padding-left: 7px;
    font-weight: 550;
    font-size: 1.2rem;
}

#back-icon{
    width: 0.7rem;
}

.welcome-box{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 11px;
    max-height: 3rem;
    background-color: #00BCB4;
}

.welcome-box p{
    padding-left: 15px;
    color: #ffffff;
}

.welcome-box p span{
    color: #F9BE00;
}

.personal-info{
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
}

.user-image{
    position: relative;
}

#user-profile{
    margin-left: 1vw;
    width: 35vw;
    border-radius: 100%;
    z-index: 1;
}

#circle-bg{
    position: absolute;
    left: -1vw;
    top: 2vw;
    width: 35vw;
    height: 35vw;
    background-color: #00BCB4;
    border-radius: 100%;
    z-index: -1;
}

.user-detail h1{
    font-size: 1.3rem;
    margin-bottom: 0;
}

.user-detail p{
    line-height: 1.3rem;
    font-size: 1rem;
    margin: 0;
}

.basket{
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#basket-head{
    margin-top: 3vh;
    display: flex;
    align-items: center;
    background-color: #00BCB4;
    height: 2.5rem;
    border-radius: 10px 10px 0 0;
}

#basket-head h1{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 500;
    padding-left: 5%;
}

.basket-content{
    display: grid;
    grid-gap: 1rem;
    height: 10rem;
    margin-inline: 1rem;
    overflow-x: scroll;
    border-radius: 0 0 10px 10px;
}

.checked-ingredient{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.checked-ingredient p{
    margin: 0;
    text-align: center;
}

#ingredient-image{
    height: 7rem;
    object-fit: cover;
}

.func-button{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
}

.func-button button, .func-button div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #F9BE00;
    height: 3rem;
    font-size: 1rem;
    font-weight: 550;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.func-button a{
    text-decoration: none;
    color: #ffffff;
}

.func-button button:active, .func-button div:active{
    background-color: #D2A100;
}

#func-icon{
    width: 1.5rem;
    margin-right: 0.5rem;
}

