@import url(https://fonts.googleapis.com/css2?family=Kanit);

html{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 4vw;
}

*{
    font-family: Kanit, sans-serif;
}

body{
    margin-top: 4vh;
    margin-inline: 5vw;
}